@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --primary-color : #02182B;
    --primary-color-alt : #0197F6;
    --danger-color : #D7263D;
    --info-color : #448FA3;
}


*{
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    transition: all 200ms ease;
}

.header {
    font-size: 24px;
    color: var(--primary-color);
}

// custom buttons
.btn {
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
}
.btn-primary{ 
    background-color: var(--primary-color);
    border-width: 2px;
    border-color: var(--primary-color);
    // transition: all;
}
.btn-primary:hover{
    border-color: var(--primary-color);
    border-width: 2px;
    background-color: #ffffff;
    color: var(--primary-color);
}

.btn-secondary{
    background-color: #e5e5e5;
    border: none;
    color: var(--primary-color);
}

.btn-secondary:hover{
    background-color: #c4c4c4;
    border: none;
    color: var(--primary-color);
}

.btn-link{
    color: var(--primary-color-alt);
}

input[type="email"].form-control,
input[type="password"].form-control{
    padding-top: 30px;
    padding-bottom: 30px;
    border: none;
    color: var(--primary-color);
    border-radius: 0px;
    border-bottom: 2px solid #c4c4c4;
}

input[type="email"].form-control:focus-within,
input[type="password"].form-control:focus-within
{
    box-shadow: none;
    outline: none;
    border-bottom: 2px solid #02182B;
    
}

.input-group-prepend{

    span.input-group-text{
        font-size : 24px;
        color : '#c4c4c4';
        background-color : #ffffff !important;
        border : none;
        border-radius: 0px;
        border-bottom: 2px solid #c4c4c4;
    }
}

.avatar {
    width : 15%;
    border-radius: 200px;
}
.shadow-sm{
    box-shadow: 0px 1px 0px rgba($color: #000000, $alpha: 0.1) !important;
}

.btn.rounded-btn{
    background-color: var(--primary-color);
    border-radius: 500px;
    color: #ffffff;
    padding-right: 27px;
    padding-left: 27px;
    padding-top: 21px;
    padding-bottom: 21px;
}

.btn.rounded-btn:active,
.btn.rounded-btn:hover{
    background-color: #354655;
    box-shadow: none;
    outline: none;
}

.head-part{
    padding-bottom: 0px !important;
}
.tab-btn{
    border-radius: 0px;
    color: #555;
}
.tab-btn.hover,
.tab-btn.active{
    color: var(--primary-color);
    font-weight: 500;
    border-radius: 0px;
}
.tab-btn:focus{
    box-shadow: none;
}
.tab-btn.active{
    border-bottom: 2px solid var(--danger-color);
}

.task-card{
    background-color: #E6E8EA;
    border-radius: 10px;
}
.task-title{
    color: var(--primary-color);
    font-size: 16px;
}

.task-desc{
    color: #8A8B8C;
    font-size: 10px;
}

.info-color{
    color: var(--info-color) !important;
}

.main-content{
    height: 70vh;
    overflow-x: scroll;
}

.btn-opt{
    border: 2px solid #448FA3;
    padding: 0px 9px;
    border-radius: 20px;
}

.btn-opt:hover{
    background-color: #448FA3;
    
    svg{
        font-size: 8px;
    }

    svg path{
        fill: #ffffff !important;
        
    }
}

.btn.btn-close {
    padding: 6px 15px;
    margin: 0px;
    border: none;
    color: #D7263D;
    border-radius: 20px;
    background-color: #f5f5f5;
}

.btn-close:hover{
    background-color: #f5f5f5;
}